@font-face {
	font-family: 'BF_Modernista-Bold';
	src: URL('BF_Modernista-Bold.ttf') format('truetype');
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#answer {
	font-size: 600px;
	font-family: 'BF_Modernista-Bold', sans-serif;
	color: #26ffdf;
}